<div id="wrapper">
    <h1>Raleigh Craigslist Saved Pins</h1>
    <div id="listings" class="row">
        {{#each listings}}
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"> {{this.date}}</span>
                    <p>{{this.title}}</p>
                    <hr>
                    <p>{{this.price}} {{this.location}}</p>
                </div>
                <div class="card-action">
                    <a href="{{this.link}}">Link</a>
                    <form method="POST" action="/unsave/{{this._id}}?_method=PUT">
                        <button class="btn waves-effect waves-light unsave-button" type="submit">Unsave
                </button>
                    </form>
                    <a class="waves-effect waves-light btn modal-note" href="#{{this._id}}">Notes</a>

                    <!-- Modal Structure -->
                    <div id="{{this._id}}" class="modal">
                        <div class="modal-content">
                            
                            <h5>{{this.title}}</h5>
                            <form>
                            <input id='titleinput' name='title' placeholder='Note Title'>
                            <textarea id='bodyinput' name='body'></textarea>
                            <button data-id='{{this._id}}' id='savenote'>Save Note</button>
                        </form>
                        <div id="{{this._id}}Notes"> </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="app.js"></script>